#login {
    padding: 2em;
    margin-top: 2em;
    box-shadow: 0 0 5px #333;
}

#login p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

#login a, #login a:hover {
    color: #007bff;
    text-decoration: none;
}