#login, #register, #en_espera, #partidas_disponibles{
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 5px #333;
}

#tablero {
    margin-top: 2em;
    margin-bottom: 2em;
}

#login p, #register p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

a, a:hover {
    color: #007bff;
    text-decoration: none;
}

h4 {
    margin-bottom: 1em;
}

.color-1 {
    background-color: black;
}

.casilla {
    padding: 0;
}

.blanca {
    background-color: white;
    border: 2px solid #007bff;
}

.negra {
    background-color: black;
    border: 2px solid #007bff;
}

#marcador {
    margin-top: 1em;
    background-color: #007bff;
    color: white;
    padding-top: 1em;
}

#marcador p:last-child {
    text-align: right;
}

.PEON {
    height: 100%;
    border-radius: 50%;
}